.c-show {opacity: 1; transition: opacity 400ms} .c-hide {opacity: 0; transition: opacity 400ms }

.c-dlg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
}

.c-dlg.c-mdl{
    opacity:0;
    pointer-events: none;
}

.c-dlg.c-mdl:target {
    opacity:1;
    pointer-events: auto;
}

.c-dlg > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
}

.c-dlg-b {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
}

.c-dlg .dlg-bc{
    float: right;
    padding: 1px 8px;
    border: 0;
}

.c-dlg .dlg-x.dismiss {
    display: none;
}

.c-dlg.dlg-cv .dlg-x.dismiss {
    display: inline-block;
}

.c-dlg .c-dlg-t {
    font-size: 1.2em;
    font-weight: 800;
}

*.c-unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
 }

