@import url("https://www.isvcanvas.com/css/base.css");
@import url("https://www.isvcanvas.com/css/shared.css");


.app-info {
  padding: 1em;
  font-size: x-small;
}


.navbar-dark.bg-dark {
  background-color: #555!important;
}

body:not([class^="view-"]) .wrapper {
  background: #eee url("../img/canvas-bg.jpg");
  background-size: cover;
}

body[class^="view-"] nav, body[class^="view-"] footer, body[class^="view-"] h1, body[class^="view-"] .survey-start {
  display: none;
}

.content {
  flex: 1;
  overflow: auto;
  background-color: #fff3fd;
  background-image: linear-gradient(221deg, #fff3fd 10%, #f9f0e7 31%, #f0fff6 60%, #ffffff 100%);
}

/*
body:not([class^="view-"]) .content {
  -webkit-box-shadow: -4px -13px 40px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px -13px 40px 6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px -13px 40px 6px rgba(0, 0, 0, 0.75);
  width: 100%!important;
}
*/

.content{
  -webkit-box-shadow: 0px 12px 26px 2px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 12px 26px 2px rgba(0,0,0,0.43);
box-shadow: 0px 12px 26px 2px rgba(0,0,0,0.43);
}

@media (min-width: 992px) {
  body[class^="view-"] .content {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

#contributors img {
  max-width: 200px;
  padding: 1em 1em 2em;
}

footer a:link, footer a:visited, footer a:active {
  color: #eee;
}

input.text {
  min-width: 15em;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #FFD1B1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #FFE5D3;
}

img.shadow {
  -webkit-box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.42);
  box-shadow: 10px 10px 26px -1px rgba(0, 0, 0, 0.42);
}

footer #toolbar .btn.btn-primary {
  color: black;
}



body #avatar:before {
  font-family: 'themify';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e602";
  width: 1em;
}

body.signed-in #avatar {
  display: inline-block;
}

#avatar img {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -26px;
}

.disabled {
  pointer-events: none;
}


/* navbar navbar-expand-lg navbar-dark bg-dark static-top header */

nav {
  background-color: #555!important;
  height: 50px;
  background-image: url("../img/isv-canvas-logo-04.png")!important;
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: 20px 4px;
  cursor: pointer;
}

blockquote{
  padding-left:  0.75em;
  border-left:  5px solid #ccc;
}


.iframe-container {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto; 
  -webkit-overflow-scrolling:touch; 
  border: solid black 1px;
} 

.iframe-container iframe {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
