.no-js {
    visibility: hidden;
    opacity: 0;
}

.js {
    visibility: visible;
    opacity: 1;
}

a {
    color: #E15E00;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: 'Lato', sans-serif;
}

h1.h2 {
    border-bottom: 1px solid #444;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar:hover {
    width: 13px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 18px none #ffffff;
    border-radius: 42px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

::-webkit-scrollbar-thumb:active {
    background: #676565;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border: 0px dotted #822121;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.btn.btn-primary {
    background-color: #FF6A00;
    border-color: #BE4F00;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #FF6A00;
    border-color: #BE4F00;
}

.btn.btn-primary footer #toolbar .btn {
    color: #eee;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.3);
}