/* Survey */

#survey-canvas {
    padding-bottom: 20px;
}

#survey-canvas .btn-group{
  margin-top: 30px;
}

.survey-container{
    padding: 30px;
    margin-bottom: 30px;
}
.survey-container .answer{
    border-left: 5px solid transparent;
}

.survey-container .question label span{
    border-left: 5px solid transparent;
}

.survey-container label{
    display: block;
    margin: 0;
    margin-bottom: 2px;
}

.survey-container label.inline {
  display: inline-block;
}

.survey-container .answer.missing {
  border-color:rgba(244,144,154,0.3);
}
.survey-container .answer.invalid {
  border-color:rgba(244,60,20,1);
}

.survey-container .question-text{
    font-size: 18px;
    margin-top: 20px;
    color: #C45B3D;
}

.survey-container .comment{
    color: #666;
    font-style: italic;
}

.survey-container .validation-message, .survey-container .required-message{
    font-size: small;
}

.survey-container .required-message {
    color: #C42B2B;
    
}

.survey-container .question label :checked + span {
    background-color: rgba(219,221,224, 1);
    border-color:rgba(244,144,154,0.4);
}

.survey-container:not(.taken) .question label span:hover {
    background-color: rgba(219,221,224, 0.5);
    border-color:rgba(244,144,154,0.2);
}


.survey-container label span{
    display: inline-block;
    padding: 4px;
}

.survey-container input[type="radio"],.survey-container input[type="checkbox"] {
    display: none;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block; 
    margin: 10px auto;
    width: 100%;
    max-height: 250px;
  }
 
 .circle-bg {
    fill: none;
    stroke-width: 3.8;
}
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  

#survey-canvas .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

#survey-canvas .tcms-score .single-chart p{
  display: none;
}

#survey-canvas .badge-pill {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#survey-canvas .scan-info h4{
  font-size: 16px;
  margin: 0

}
#survey-canvas .scan-info > div {
  font-size: 11pt;
}

#survey-canvas .reliability-score{
  max-width: 140px;
}

#survey-canvas .question label.inline {
  display: inline-block;
}

table.swot {
  width: 100%;
  margin-top: 3em;
  background: rgb(134,134,134);
  background: linear-gradient(180deg, #D6D8DB 0%, #EDEFF3 100%);
}

th.swot-h {
  padding: 5px 10px;
  text-align: center;
  
}

#survey-canvas .tcms-score .percentage{
    font-weight: 900;
}

.swot-g .tcms-score{
  display: inline-block;
  width:80%
}

.swot-g .reliability-score{
  display: inline-block;
  width:10%;
  vertical-align: top;
}

.swot td {
   padding: 0;
   vertical-align: top;
}

.swot td > div{
  margin: 0;
}

.swot td h4 {
  font-size: 12px;
  color: black;
  font-weight: 800;
  background: rgba(0,0,0, .2);
  padding: 5px;
  margin: 0;
  display: block;
  border-radius: 5px 5px 0 0;
}

.swot td ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.swot td ul ul li {
  margin-left: 10px;
  
  /*display: none;*/
}

.swot td ul>li:hover ul li {
  display: block;
  transition: all 0.5s ease;
}

.swot-q {
  border: 5px solid #eee;
}

.swot-q > div {
  height: 200px;
  overflow-y: auto;
}

.swot-none {
  color: #bbb;
  font-style: italic;
}

.swot td > div > ul > li{
  font-weight: bolder;
}

/*
.swot td.swot-s > div {
  background-color:#A0C9CA;
}

.swot td.swot-w > div{
  background-color:#E6D596;
}

.swot td.swot-o > div{
  background-color:#CADB96;
}

.swot td.swot-t > div{
  background-color: #E7A1A6;
}
*/

.swot td.swot-q { 
  font-size: 12px;
  width: 50%;
}

td.swot-q > div {
  border-radius: 5px 5px 10px 10px;
}

.swot td.swot-q > div > div.swot-gr-name{
  background-color: transparent;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  font-size: larger;
  margin-top: 5px;
}

.swot td.swot-q > div.swot-gr-name ul li {
  font-weight: normal;
  font-size: smaller;
  color: #888;
}

.swot td ul.swot-col {
  margin-left: 10px;
}

.tcms-result.overall .tcms-score p {
  font-size: 2em;
}


li.ti-flag:before, li.ti-check-box:before {  
  margin-left: -15px;
  margin-right: 5px;
}

.swot-xp .ti {
  margin-left: -18px;
  margin-right: 5px;
}

.swot-cp .ti {
  color: red;
}


div.tcms-result.overall {
  margin-bottom: 3em;;
}

.navbar-dark.bg-dark {
  background-color: #555!important;
}

.navbar-brand {
  display: inline-block;
  width: 250px;
  height: 40px;
  background-image: url("../img/isv-canvas-logo-03.svg")!important;
  background-repeat: no-repeat ;
  background-size: contain;
  padding-left: 220px;
}

#survey-canvas th.swot-a {
  display: inline-block;
  background-color: #eee;
  border-radius: 6px 6px 0px 0px;
  padding: 3px 6px;
  margin-bottom: 0;
}

tbody.swot-qc {
  border: 10px solid #eee;
  border-radius: 3px 3px 10px;
  
}

td.swot-q:before {
  content: "";
  font-family: monospace;
  position: absolute;
  font-weight: 800;
  font-size: 15em;
  opacity: 0.1;
  margin-left: 0.4em;
  margin-top: -0.2em;  
  pointer-events: none;
}

td.swot-q.swot-w:before {
  content: "W";
  color: #BE5E0F ;
}

td.swot-q.swot-s:before {
  content: "S";
  color: darkgreen;
}

td.swot-q.swot-t:before {
  content: "T";
  color: #C42B2B;
}

td.swot-q.swot-o:before {
  content: "O";
  color: gold;
}


td.swot-q > div > h4{
  display: none;
}

.survey-progress {
  display: inline-block;
  padding: 5px 20px;
  background-color: transparent;
  color: #666;
}

span.ti-fill {
  display: inline-block;
  padding: 5px 5px;
  background-color: #E15E00;
  color: white;
  border-radius: 10px;
}

.swot-more-info{
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid #ccc;
}

.survey-intro{
  display: none;
}

.signed-in .survey-intro {
  display: block;
}

body.view-summary #survey-canvas table.swot .swot-qc, body.view-summary #survey-canvas  table.swot tr th.h4{
  display: none;
}

body[class^="view-"] nav, body[class^="view-"] footer, body[class^="view-"] h1, body[class^="view-"] .survey-start {
  display: none;
}

.tcms-issuer em{
  font-size: 2em;
}